@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    /*font-family: 'Nunito', sans-serif;*/
     font-family: 'Fredoka One', cursive; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --farge: #FF5757;
    --farge_2: rgb(93, 207, 0);
    --box-shadow:0 .2rem 1.5rem rgba(0, 0, 0, 0.116);
    --margin : 30px;
    --light-color:#666;
   
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    }

html{
    font-size: 80.5%;
   overflow-x: hidden ; /* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x  */
   scroll-padding-top: 5.5rem ; /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-padding-top */
   scroll-behavior: smooth; /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
}
/*   HEADER START!!!----------------------------------------*/
header{
    position: fixed; /* https://www.w3schools.com/css/css_positioning.asp */
    top: 0;left: 0 ;right:0;
    background-color: var(--farge_2);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
}
header .navbar a{
    font-size: 1.3rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:#fff;
}
header .navbar a.active,
header .navbar a:hover{
    color:#333;
    background: #fff;
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:3rem;
    line-height: 3rem;
    width:3rem;
    text-align: center;
    font-size: 1.3rem;
    color:#333;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}

header .icons #menu-bars{
    display: none;
}
/* ikke for oppgave */
#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--farge);
}



#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

/*   HEADER END!!!----------------------------------------*/



/* ====================== HOME  SECTION  START ==================================*/
.home{
background-color: var(--farge_2);

}

.image-a img{
   height: 600px;


} 

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: #333;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    margin-right: 15px;
}


.btn-light{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#333;
    background: #fff;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}


.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

section{
    padding: 2rem 8%;
    
    }



    .home .home-slider .slide{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:2rem; 
        padding-top: 9rem;
    }
    
    .home .home-slider .slide .content{
        flex:1 1 45rem;
    }
    
    .home .home-slider .slide .image{
        flex:1 1 45rem; 
       
    }
    
    .home .home-slider .slide .image img{
        width: 100%;
    }
    
    .home .home-slider .slide .content span{
        color:#333;
        font-size: 1.6rem;
    }
    
    .home .home-slider .slide .content h3{
        color:#fff;
        font-size: 4rem;
    }
    
    .home .home-slider .slide .content p{
        color:#fff;
        font-size: 1.6rem;
        padding:.5rem 0;
        line-height: 1.5;
    }

    

/* ====================== HOME  SECTION    END ==================================*/

.t-h3 {
  color: #FF5757;


    }
.cards {
    background-color:#333;
    font-size: 1.3rem ;
    padding-top: 40px;
    


    }
    .title {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    
    
    }
    .content-b{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    }
    .card{
  
    width: 15%;
    padding: 25px;
    border-radius: 10px;
    margin: 25px;
    transition: 0.7s ease;
    color: #333;
    }
    
    .card:hover {
    transform: scale(1.0351);
    
    }
    .icon {
    color: rgb(255, 255, 255);
    font-size: 2.4em;
    text-align: center;
    
    }
    .info {
    text-align: center;
    }
    .info h3 {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
    }


    .info  {
        color: rgb(255, 255, 255);
        
        }



    .projects{
    background-color: rgb(241, 241, 241);
    padding-top: 45px;
    display: none;
    }
    .projects .title {
    color: #FF5757;
    }
    
    .projects .content {
    margin-top: 30px;
    color: #fff;
    
    }
    .project-card {
    background-color: rgb(255, 255, 255);
    
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 5px;
    margin: 20px;
    transition: 0.7s ease;
    color: #333;
    box-shadow: 0 5px 5px rgba(117, 117, 117, 0.226)
    
    
    }
    .project-card:hover {
    transform: scale(1.0351);
    background-color: #333;
    color: #fff;
    
    }





    .sub-heading_1{
        text-align: center;
       /* color: var(--farge_2);*/
       /*color: #FF5757;*/
       color: var(--farge_2);
        font-size: 1.5rem;
        padding-top: 1rem;
        
    
    
    }
    
    
    
    .heading_2{
        color: #fff;
        text-align: center;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        }
    













/* -------------------------------------- MENNU START -------------------------------*/




.meny{
    background-color: #ffffff;
    display: none;
}
.meny .box-containar{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
gap:1.5rem

/*;padding:30px;*/

}
.meny .box-containar .box1{
background: #fff;
border: .05rem solid rgba(0,0,0,.2);
border-radius: .5rem;
box-shadow: var(--box-shadow);




}

.meny .box-containar .box1 .imag{
height: 23rem;
width: 100%;
padding: 1.5rem;
overflow: hidden;
position: relative;



}
.meny .box-containar .box1 .imag img{
height: 100%;
width: 100%;
border-radius: .5rem;
object-fit: cover;

}
.meny .box-containar .box1 .imag .fa-heart{
position: absolute;
top: 2.5rem; right: 2.5rem;
height: 5rem;
width: 5rem;
line-height: 5rem;
text-align: center;
font-size: 2rem;
background: #fff;
border-radius: 50%;
color: #333;
text-decoration: none;



}
.meny .box-containar .box1 .imag .fa-heart:hover{
background-color: var(--farge);
color: #fff;


}
.meny .box-containar .box1 .content{
padding: 1.5rem;
padding-top: 0;
justify-content: space-between;
}
.meny .box-containar .box1 .content .stars{
align-items: center;
padding-top: .4rem;

/*padding-bottom: 0.3rem;
*/
}


.meny .box-containar .box1 .content .stars i{
font-size: 1.7rem;
color: var(--farge_2);

}
.meny .box-containar .box1 .content h3{
color: #333;
font-size: 2.3rem;

}

.meny .box-containar .box1 .content p{
color: #555;
font-size: 1.1rem;
padding: 0.5rem 0;

}
.meny .box-containar .box1 .content .pice{
color: var(--farge_2);
font-size: 1.5rem;
margin-top: 1.8rem;
margin-right: 0.5rem;
}




/* -------------------------------------- MENNU END    ------------------------------*/


















































/*   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   */
@media (max-width:991px){
    html{
        font-size: 75.5% 
     }
    header{
        padding:1rem 2rem;
    }
}

@media(max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top:100% ; left: 0; right: 0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*js */
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /*js */
    }
    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#333;
    }
}
/*   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   MEDIA   */

/* test */









.st2-card{
width: 350px;


}
